<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Cars in Crazy Cars</title>
</head>
<body>
  <h1 style="color: red; text-align: center;">Welcome to All Cars in Crazy Cars !!!</h1>

  <table border="5" width="100%" style="background-color: aquamarine;">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>License Number</th>
      <th>Age</th>
      <th>Date of Birth</th>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Plate Number</th>
    </tr>
    <% data.forEach(function(car) { %>
      <tr>
        <td><%= userData.firstName %></td>
        <td><%= userData.lastName %></td>
        <td><%= userData.licenseNumber %></td>
        <td><%= userData.age %></td>
        <td><%= userData.dob %></td>
        <td><%= userData.carDetails.make %></td>
        <td><%= userData.carDetails.model %></td>
        <td><%= userData.carDetails.year %></td>
        <td><%= userData.carDetails.plateNumber %></td>
      </tr>
    <% }); %>
  </table>
</body>
</html>
